<head>
    <center><h1>Welcome To To Do List App</h1></center>
<marquee>"Each day I will accomplish one thing on my to list.”</marquee>
    <marquee direction="right"
        behavior="alternate">
        Now you can create your own to do list with this application
    </marquee>
</head>
<body>
{% extends 'base/main.html' %}

<code><h1> Welcome </h1></code>
{% block content %}


<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>






{% endblock content %}
</body>
